#Bad Request
ErrorDocument 400 /resources/errors/400.php
#Unauthorized
ErrorDocument 401 /resources/errors/401.php
#FORBIDDEN
ErrorDocument 403 /resources/errors/403.php
#Not Found
ErrorDocument 404 /resources/errors/404.php
#Internal Server Error
ErrorDocument 500 /resources/errors/500.php

RewriteEngine On
RewriteCond %{HTTPS} off
RewriteCond %{REQUEST_URI} !^/\.well-known/acme-challenge/[0-9a-zA-Z_-]+$
RewriteCond %{REQUEST_URI} !^/\.well-known/cpanel-dcv/[0-9a-zA-Z_-]+$
RewriteCond %{REQUEST_URI} !^/\.well-known/pki-validation/(?:\ Ballot169)?
RewriteCond %{REQUEST_URI} !^/\.well-known/pki-validation/[A-F0-9]{32}\.txt(?:\ Comodo\ DCV)?$
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]]
