ErrorDocument 400 /resources/errors/400.php	#Bad Request
ErrorDocument 401 /resources/errors/401.php	#Unauthorized
ErrorDocument 403 /resources/errors/403.php	#FORBIDDEN
ErrorDocument 404 /resources/errors/404.php	#Not Found
ErrorDocument 500 /resources/errors/500.php	#Internal Server Error
