blockquote {
  display: block;
  border-width: 2px 0;
  border-style: solid;
  border-color: #eee;
  padding: 1.5em 0 0.5em;
  margin: 1.5em 0;
  position: relative;
}
blockquote:before {
  content: '\201C';
  position: absolute;
  top: 0em;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  width: 3rem;
  height: 2rem;
  font: 6em/1.08em 'PT Sans', sans-serif;
  color: #666;
  text-align: center;
}
blockquote:after {
  content: "\2013 \2003" attr(cite);
  display: block;
  text-align: right;
  font-size: 0.875em;
  color: #e74c3c;
}
.ad-button-link{
	display:flex; 
	/*
	text-align:center;
	*/
	justify-content:center;
} 
.carousel-inner img {max-height: 100%;display:block;}
.content-slider{
	display:flex;
	/*
	text-align:center;
	*/
	justify-content:center;
} 
.thick-line{
	height:5px;
	border:none;
	color:#333;
	background-color:#333;
}
.terminal-block{
	/* Used primarily with pre */
	border-radius: 25px;
	background:#000000;
	color:#f4e404;
	margin:15px;
	padding:10px;
	white-space:pre-line;
	font-size:10px;
}
.bash-green{
	color:#00ef77;
	background:#000000;
	font-size:10px;
}
.git-red{
	color:#ff3300;
	background:#000000;
	font-size:10px;
}
.vim-git-commit{
	/* Used primarily with pre */
	border-radius: 25px;
	background:#000000;
	color:#33adff;
	margin:15px;
	padding:10px;
	white-space:pre-line;
	font-size:10px;
}
.git-commit-info{
	color:#ffffe6;
	background:#000000;
	font-size:10px;
}
.git-commit-modified{
	color:#ccffcc;
	background:#000000;
	font-size:10px;
}
.git-commit-path{
	color:#cc00cc;
	background:#000000;
	font-size:10px;
}
.git-commit-title{
	color:#ffff66;
	background:#000000;
	font-size:10px;
}.git-commit-message{
	color:#66ff66;
	background:#000000;
	font-size:10px;
}
.vim-marker{
	color:#66ff66;
	background:#000000;
	font-size:10px;
}
/**** **** Links  **** ****/
span.highlighter{
	background-color:#feeb05;
	text-decoration: none;
	color:#9b9a92;
}
a.highlighter, a.highlighter:link{
	background-color:#feeb05;
	text-decoration: none;
	color:#9b9a92;
}
a.highlighter:hover{
	background-color:#d883ef;
	text-decoration: none;
	color:#000000;
}
a.highlighter:visited{
	background-color:#9b9a92;
	text-decoration: none;
	color:#feeb05;
}

/**** **** bibliography  **** ****/
.bibliography{
	border: 2px solid;
	border-radius: 20px;
	padding: 7px;
	background-color:#FFDEF8;
	float: left; 
}
.biblio-title{
	display:flex;
	border: 2px dashed;
	border-radius: 20px;
	padding: 8px;
	text-align: center;
	background-color:#FFDEF8;
}
.first-word{
	font-size:24px;
	font-style:italic;
}
